<section class="sec-authentication">
	<div class="authentication-wrap">
		<div class="authentication-content">
			<div class="title"><span>{{'change_password' | translate}}</span></div>
			<form class="form-content">
				<div class="form-group">
					<div class="form-input-group">
						<div class="icon"><i class="fal fa-fw fa-key"></i></div>
						<input type="password" class="form-control" placeholder="{{'new_password' | translate}}" name="password" [(ngModel)]="password"/>
					</div>
				</div>
				<div class="form-group">
					<div class="form-input-group">
						<div class="icon"><i class="fal fa-fw fa-key"></i></div>
						<input type="password" class="form-control" placeholder="{{'confirm_password' | translate}}" name="confirm_password" [(ngModel)]="confirm_password"/>
					</div>
				</div>
				<div class="form-group text-center">
					<button type="button" class="btn-submit" (click)="updatePass()">
						<i class="fal fa-fw fa-sign-in"></i>
						<span>{{'update_password' | translate}}</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</section>