<section class="sec-dashboard" >
  <div class="container container-bg">
    <app-user-header [name]="'reviews' | translate"></app-user-header>
    <div class="row position-relative">
      <div class="col-md-3 col-lg-2">
        <app-user-sidebar></app-user-sidebar>
      </div>
      <div class="col-md-9 col-lg-10">
        <div class="card-container">
          <div class="row">
            <div class="col-12">
              <div class="consultant-reviews" *ngIf="Reviews?.length>0">
                <div class="title">{{'reviews' | translate}}</div>
                <div class="overall-rating">
                  <div class="item">
                    <div class="item-name">{{'comunication' | translate}}</div>
                    <div class="item-rating">
                      <div class="rating">
                        <div class="back">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="front" [ngStyle]="{'width':(empathy_and_flexibility*20) + '%'}">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="item">
                    <div class="item-name">{{'empathy_and_flexibilit' | translate}}</div>
                    <div class="item-rating">
                      <div class="rating">
                        <div class="back">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="front" [ngStyle]="{'width':(communication*20) + '%'}">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="item">
                    <div class="item-name">{{'reliable_and_trustworth' | translate}}</div>
                    <div class="item-rating">
                      <div class="rating">
                        <div class="back">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="front" [ngStyle]="{'width':(reliable_and_trustworthy*20) + '%'}">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-list" *ngIf="Reviews?.length>0">
                  <div class="item" *ngFor="let review of Reviews">
                    <div class="item-image">
                      <img src="{{review.image}}" alt=""/>
                    </div>
                    <div class="item-content">
                      <div class="item-name">{{review.first_name}} {{(review.middle_name)?review.middle_name:''}} {{review.last_name}}</div>
                      <div class="item-rating">
                        <div class="rating">
                          <div class="back">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          </div>
                          <div class="front" [ngStyle]="{'width':(review.rating*20) + '%'}">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          </div>
                        </div>
                      </div>
                      <div class="item-comments">{{review.personal_experience}}</div>
                      <div class="item-date">{{review.created_at | date:'dd MMM yyyy'}}</div>
                    </div>
                  </div>
                </div>
                  <div class="nodata-wrap" *ngIf="Reviews?.length==0">
                    <div class="nodata-content">
                      <div class="icon">
                        <span class="fa-stack fa-2x">
                          <i class="fal fa-fw fa-stack-2x fa-circle"></i>
                          <i class="fal fa-fw fa-stack-2x fa-slash" style="opacity: 0.5"></i>
                          <i class="fas fa-fw fa-stack-1x fa-list"></i>
                        </span>
                      </div>
                      <div class="nodata-title">{{'no_data_found' | translate}}</div>
                      <div class="nodata-text">{{'it_seems_no_data_found' | translate}}</div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
