<header>
	<div class="header-top-wrap">
		<div class="container">
			<div class="header-top-content">
				<div class="contact">
					<a href="mailto:info@prontospy.com" class="item">
						<i class="fas fa-fw fa-envelope"></i>
						<span>{{Settings.email}}</span>
					</a>
					<a href="tel:18000000000" class="item">
						<i class="fas fa-fw fa-phone fa-flip-horizontal"></i>
						<span>{{Settings.customer_support}}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="header-bottom-wrap">
		<div class="container">
			<div class="header-bottom-content">
				<div class="brand">
					<a href="javascript:void(0)" class="logo" routerLink="">
						<img src="assets/img/logo.png" alt="Logo"/>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="menu-backdrop"></div>
</header>